/* Special CSS for Area51
---------------------------------------- */


/* Inline Code
----------------------------------------*/
code.inline {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C9D2D8;
	color: #2E8B57;
	display: inline;
	font-family: Monaco,'Andale Mono','Courier New',Courier,monospace;
	font-size: 0.9em;
	font-style: normal;
	line-height: 1.3em;
	padding: 0 3px;
}
